<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tp.cozubu.model.dao.UserDao">

    <select id="selectUserListByDeptId" resultType="userVO">
        select
            user_id    as userId,
            user_nm    as userNm,
            admin_yn   as adminYn,
            dept_id as deptId,
            emp_no as empNo,
            phone,
            email,
            rank_cd as rankCd,
            fn_code_nm('empRank', rank_cd) as rankCdNm,
            emp_status as empStatus,
            fn_code_nm('empStatus', emp_status) as empStatusNm,
            concat('/static/img/', file_nm) as photo,
            fn_dept_nm(dept_id) as deptNm,
            u.crt_dtm    as crtDtm
        from tb_user u
        left join tb_profile
        using(user_id)
        where
            dept_id = #{deptId}
        order by crtDtm, rankCd
    </select>

    <select id="selectUser" resultType="userVO">
        select
            user_id    as userId,
            password,
            user_nm    as userNm,
            admin_yn   as adminYn,
            dept_id as deptId,
            emp_no as empNo,
            phone,
            email,
            rank_cd as rankCd,
            fn_code_nm('empRank', rank_cd) as rankCdNm,
            emp_status as empStatus,
            fn_code_nm('empStatus', emp_status) as empStatusNm,
            concat('/static/img/', file_nm) as photo,
            u.crt_dtm    as crtDtm
        from tb_user u
        left join tb_profile
        using(user_id)
        where 
            user_id = #{userId}
    </select>
    
    <insert id="insertUser" parameterType="userVO">
        insert into tb_user(
            user_id,
            password,
            user_nm,
            admin_yn,
            dept_id,
            emp_no,
            email,
            phone,
            rank_cd,
            emp_status
        )values (
            #{userId},
            #{password},
            #{userNm},
            #{adminYn},
            #{deptId},
            #{empNo},
            #{email},
            #{phone},
            #{rankCd},
            (SELECT MIN(code_id)FROM tb_code_master cm LEFT JOIN tb_code USING(code_master_id) WHERE code_master_nm = 'empStatus')
        ) 
    </insert>

    <update id="updateUser" parameterType="userVO">
        update tb_user
            set
                user_nm = #{userNm},
                emp_no = #{empNo},
                email = #{email},
                phone = #{phone},
                rank_cd = #{rankCd},
                emp_status = #{empStatus}
        where
            user_id = #{userId}
    </update>
    
    <update id="updatePwd" parameterType="userVO">
        update tb_user
            set
                password = #{chgPwd}
            where
                user_id = #{userId}
    </update>
    
</mapper>